<form
  [formGroup]="searchForm"
  (submit)="submit()">
  <div class="search-field">
    <mat-icon>search</mat-icon>
    <input
      type="text"
      formControlName="search"
      placeholder="Search...">
    <button
      *ngIf="searchForm.get('search')?.value"
      type="button"
      class="reset-button"
      (click)="reset()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <button
    [disabled]="disabled"
    class="search-button"
    mat-raised-button
    color="accent">
    Search
  </button>
</form>
