<qa-spinner [active]="isCreating"></qa-spinner>
<div class="container container--narrow">
  <form
    class="create-topic-form"
    (ngSubmit)="createTopic()"
    [formGroup]="createTopicForm">
    <mat-card class="create-topic-form__card">
      <h1 class="mat-h1 create-topic-form__title">Create topic</h1>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          [maxLength]="maxTitleLength"
          formControlName="title">
        <mat-hint align="end">
          {{createTopicForm.get('title')?.value?.length}} / {{maxTitleLength}}
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Body</mat-label>
        <textarea
          matInput
          rows="8"
          [maxLength]="maxBodyLength"
          formControlName="body">
        </textarea>
        <mat-hint align="end">
          {{createTopicForm.get('body')?.value?.length}} / {{maxBodyLength}}
        </mat-hint>
      </mat-form-field>
      <mat-form-field
        class="example-chip-list"
        appearance="outline">
        <mat-label>Tags</mat-label>
        <mat-chip-list
          #chipList
          aria-label="Topic tags">
          <mat-chip
            *ngFor="let tag of tags"
            (removed)="removeTag(tag)">
            {{tag}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Enter some tag..."
            #fruitInput
            formControlName="tags"
            [matChipInputFor]="chipList"
            [matChipInputAddOnBlur]="true"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
        <mat-hint align="end">{{tags.length}} / {{maxTagsCount}}</mat-hint>
      </mat-form-field>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          [disabled]="isSubmitDisabled">
          Create topic
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
