<qa-spinner [active]="isLoading"></qa-spinner>
<div class="container container--narrow">
  <qa-search-bar
    [disabled]="isLoading"
    (resetSearch)="resetTopicsSearchAndFetchTopics()"
    (search)="fetchTopicsBySearchQuery($event)"></qa-search-bar>
  <div
    class="sub-search-bar-text"
    *ngIf="topicRequestQueryParams.search">
    Search results by query "{{topicRequestQueryParams.search}}":
  </div>
  <qa-topic
    *ngFor="let topic of (topics$ | async)?.topics"
    [topic]="topic"></qa-topic>
</div>
