<header class="header">
  <div class="container header__container">
    <a [routerLink]="['/']">
      <img
        class="header__logo"
        src="/assets/images/qa-logo.png"
        alt="Question and answer">
    </a>
    <nav class="header__nav">
      <ul>
        <li><a
            [routerLink]="['/', 'topics']"
            routerLinkActive="active"
            mat-button>
            Topics
          </a></li>
        <li><a
            [routerLink]="['/', 'about']"
            routerLinkActive="active"
            mat-button>
            About
          </a></li>
      </ul>
    </nav>
    <div class="header__action-buttons">
      <a
        [routerLink]="['/topics/create']"
        mat-raised-button
        color="accent">
        Create topic
      </a>
      <br>
      <ng-container *ngIf="isLoggedIn; else notLoggedInContent">
        <div class="header__authenticated">
          <div class="profile">
            <mat-icon>account_circle</mat-icon>
            {{ user?.username }}
          </div>
          <button
            (click)="logout()"
            mat-raised-button
            color="primary">
            Logout
          </button>
        </div>
      </ng-container>
      <ng-template #notLoggedInContent>
        <a
          [routerLink]="['auth/login']"
          mat-raised-button
          color="primary">
          Login
        </a>
        <a
          [routerLink]="['auth', 'registration']"
          mat-raised-button
          color="primary">
          Sign On
        </a>
      </ng-template>
    </div>
  </div>
</header>
