@import "theme-variables";

.header {
  border-bottom: 2px solid black;
  padding: 5px 0;
  background: $app-header-color;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 80px;
    height: auto;
    display: block;
    flex-shrink: 0;
  }

  &__nav {
    max-width: 500px;
    flex-grow: 1;
    padding: 0 20px;

    ul {
      display: flex;
    }

    a {
      font-size: 16px;

      &.active {
        text-decoration: underline;
        color: $app-header-active-link-color;
      }
    }
  }

  &__action-buttons {
    display: flex;
    align-items: center;

    br {
      content: "";
      border: 1px solid black;
      margin: 0 10px;
      align-self: stretch;
    }

    a {
      margin: 0 10px;
    }
  }

  &__authenticated {
    display: flex;

    .profile {
      margin-right: 16px;
    }
  }
}

.profile {
  $profile-icon-size: 40px;

  display: flex;
  align-items: center;

  mat-icon {
    color: $profile-icon-color;
    font-size: $profile-icon-size;
    width: $profile-icon-size;
    height: $profile-icon-size;

    margin-right: 6px;
  }
}
