@import "theme-variables";

.answer {
  display: flex;

  &__rating {
    padding-right: 20px;
    border-right: 2px solid black;
    margin-right: 20px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__accept-icon {
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 22px;
  }

  &__main-content {
    flex-grow: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__author {
    font-size: 16px;
    font-weight: 500;
  }

  &__body {
    white-space: break-spaces;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $accent-field-border;
    background-color: $accent-field-background;
  }

  &__footer {
    margin-top: 24px;
  }

  &__dates {
    display: flex;
    justify-content: flex-end;
    color: gray;

    li {
      margin-right: 16px;
    }
  }
}
