.tabs {
  margin-left: auto;
  max-width: 95%;
  margin-top: 20px;
  min-height: 500px;

  .chat,
  .answers {
    margin-top: 20px;
    display: block;
  }
}

.answers {
  button {
    mat-icon {
      font-size: 20px;
    }
  }

  &__actions {
    margin-bottom: 16px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
  }

  &__item {
    &:not(:first-child) {
      display: block;
      margin-top: 16px;
    }
  }
}
