.answers {
  margin-top: 26px;
  margin-left: auto;
  max-width: 95%;

  &__title {
    font-size: 20px;
  }

  &__item {
    &:not(:first-child) {
      display: block;
      margin-top: 16px;
    }
  }
}
