.answers {
  margin-top: 26px;
  margin-left: auto;
  max-width: 95%;

  button {
    mat-icon {
      font-size: 20px;
    }
  }

  &__actions {
    margin-bottom: 16px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
  }

  &__item {
    &:not(:first-child) {
      display: block;
      margin-top: 16px;
    }
  }
}
