:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;

  &.liked {
    background-color: green;
  }

  &.disliked {
    background-color: red;
  }
}
