form {
  position: relative;
  display: flex;
  border-top: 2px solid black;
}

input {
  flex-grow: 1;
  border: none;
  padding: 8px (15px + 40px) 8px 15px;
  outline: revert;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
