@import "theme-variables";

.topic {
  display: flex;

  &__rating {
    padding-right: 20px;
    border-right: 2px solid black;
    margin-right: 20px;
    flex-shrink: 0;
  }

  &__main-content {
    flex-grow: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 22px;
  }

  &__author {
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__body {
    white-space: break-spaces;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $accent-field-border;
    background-color: $accent-field-background;
  }

  &__footer {
    margin-top: 30px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__tags {
  }

  &__dates {
    flex-shrink: 0;
    text-align: end;
    color: gray;
  }
}
.tags {
  display: flex;

  &__list {
    margin-left: 10px;
    display: inline-flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 6px;
    margin-bottom: 4px;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: $tag-item-background;
    border: 1px solid $tag-item-border;
    color: black;
  }
}
