<mat-card class="topic">
  <!-- TODO: move rating to own component -->
  <qa-rating
    class="topic__rating"
    [disabled]="isUpdating"
    [rating]="topic.likesCount"
    [likeStatus]="topic.likeStatus"
    (like)="likeTopic()"
    (dislike)="dislikeTopic()"
  ></qa-rating>
  <main class="topic__main">
    <mat-card-title>
      <h2 class="topic__title">
        <a [routerLink]="['/', 'topics', topic.slug]">{{ topic.title }}</a>
      </h2>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="topic__author">Author: {{ topic.author.username }}</div>
    </mat-card-subtitle>
    <mat-card-content>
      <p class="topic__body mat-display-1">{{ topic.body }}</p>
      <div class="topic__tags tags">
        Tags:
        <ul class="tags__list">
          <li *ngFor="let tag of topic.tags" class="tags__item">{{ tag }}</li>
        </ul>
      </div>
      <ul class="topic__dates">
        <li>
          <time [dateTime]="topic.createdAt"
            >Created at: {{ topic.createdAt | date }}</time
          >
        </li>
        <li>
          <time [dateTime]="topic.updatedAt">
            Updated at: {{ topic.updatedAt | date }}
          </time>
        </li>
      </ul>
    </mat-card-content>
  </main>
</mat-card>
