<mat-card class="topic">
  <qa-rating
    class="topic__rating"
    [disabled]="isUpdating"
    [rating]="topic.likesCount"
    [likeStatus]="topic.likeStatus"
    (like)="likeTopic()"
    (dislike)="dislikeTopic()"></qa-rating>
  <div class="topic__main-content">
    <header class="topic__header">
      <h2 class="topic__title">
        <a [routerLink]="['/', 'topics', topic.slug]">{{ topic.title }}</a>
      </h2>
      <button
        *ngIf="isCurrentUserTopicAuthor"
        (click)="editTopic()"
        mat-icon-button
        color="accent">
        <mat-icon>edit</mat-icon>
      </button>
    </header>
    <h3 class="topic__author">Author: {{ topic.author.username }}</h3>
    <p class="topic__body mat-h3">{{ topic.body }}</p>
    <footer class="topic__footer">
      <div>
        <div class="topic__tags tags">
          Tags:
          <ul class="tags__list">
            <li
              *ngFor="let tag of topic.tags"
              class="tags__item">
              {{ tag }}
            </li>
          </ul>
        </div>
        <p>
          Answers count: {{topic.answersCount}} {{topic.hasAcceptedAnswer ? '(has accepted ✅)' : null}}
        </p>
      </div>
      <ul class="topic__dates">
        <li>
            <time [dateTime]="topic.createdAt">
            Created at: {{ topic.createdAt | date }}
          </time>
          </li>
        <li>
            <time [dateTime]="topic.updatedAt">
            Updated at: {{ topic.updatedAt | date }}
          </time>
          </li>
      </ul>
    </footer>
  </div>
</mat-card>
